---
import BackToTop from "@components/control/BackToTop.astro";
import Footer from "@components/Footer.astro";
import MidoriBackgroundRender from "@components/misc/MidoriBackgroundRender.astro";
import SideBar from "@components/widget/SideBar.astro";
import TOC from "@components/widget/TOC.astro";
import { url } from "@utils/url";
import type { MarkdownHeading } from "astro";
import { siteConfig } from "../config";
import Layout from "./Layout.astro";
import Navbar from "./Navbar.astro";

interface Props {
  title?: string;
  description?: string;
  lang?: string;
  setOGTypeArticle?: boolean;
  headings?: MarkdownHeading[];
}

const { title, description, lang, setOGTypeArticle, headings = [] } = Astro.props;

const bannerEnabled = siteConfig?.banner?.imgList && siteConfig.banner.imgList.length > 0;
const homePage = Astro.url.pathname === url("/");
---

<Layout title={title} description={description} lang={lang} setOGTypeArticle={setOGTypeArticle}>
  <!-- Navbar -->
  <slot slot="head" name="head" />
  <div id="top-row" class="relative w-full z-50">
    <Navbar class="onload-animation animate-slide-down-fade-in" />
  </div>

  <!-- Main content -->
  <div id="main-content" class="relative h-full">
    <div
      id="main-grid"
      class:list={[
        "transition-all duration-600 delay-500",
        "relative z-10",
        "grid grid-cols-[17.5rem_auto] grid-rows-[auto_1fr_auto] lg:grid-rows-[auto]",
        "max-w-(--page-width) mx-auto gap-4 px-0 md:px-4",
        "md:pt-[max(calc(var(--header-height)+1rem),var(--banner-extended-height))]",
        "pt-[calc(var(--header-height)+1rem)]",
      ]}
    >
      <SideBar
        class="mb-4 row-start-2 row-end-3 col-span-2 lg:row-start-1 lg:row-end-2 lg:col-span-1 lg:max-w-70"
        headings={headings}
      />

      <!-- the overflow-hidden here prevent long text break the layout-->
      <main class="col-span-2 lg:col-span-1 overflow-hidden swup-transition-main">
        <!-- Banner image credit -->
        <!-- {hasBannerCredit && <a href={siteConfig.banner.credit.url} id="banner-credit" target="_blank" rel="noopener" aria-label="Visit image source"
                                   class:list={["group onload-animation transition-all absolute flex justify-center items-center rounded-full " +
                                   "px-3 right-4 -top-[3.25rem] bg-black/60 hover:bg-black/70 h-9", {"hover:pr-9 active:bg-black/80": hasBannerLink}]}
            >
                <Icon class="text-white/75 text-[1.25rem] mr-1" name="material-symbols:copyright-outline-rounded" ></Icon>
                <div class="text-white/75 text-xs">{siteConfig.banner.credit.text}</div>
                <Icon class:list={["transition absolute text-[oklch(0.75_0.14_var(--hue))] right-4 text-[0.75rem] opacity-0",
                    {"group-hover:opacity-100": hasBannerLink}]}
                      name="fa6-solid:arrow-up-right-from-square">
                </Icon>
            </a>} -->
        <div id="main-wrapper" class="w-full onload-animation animate-slide-up-fade-in">
          <slot />
        </div>
        <div class="footer col-span-2 onload-animation animate-slide-up-fade-in-small hidden lg:block">
          <Footer />
        </div>
      </main>

      <div class="footer col-span-2 onload-animation animate-slide-up-fade-in-small block lg:hidden">
        <Footer />
      </div>
    </div>
    <BackToTop />
    <!-- Banner -->
    <div class="absolute h-full w-full hidden md:block top-0">
      {
        bannerEnabled && (
          <div
            id="banner-wrapper"
            class:list={["w-full overflow-hidden top-0", { sticky: !homePage, absolute: homePage }]}
          >
            <MidoriBackgroundRender
              className={[
                "w-full h-(--banner-height) bg-(--page-bg)",
                "transition-[height_background-color] duration-600 ease-in-out",
              ].join("")}
            />
          </div>
        )
      }
    </div>
  </div>

  <!-- The things that should be under the banner, only the TOC for now -->
  <div class="absolute w-full hidden 2xl:block">
    <div class="relative max-w-(--page-width) mx-auto">
      <!-- TOC component -->
      {
        siteConfig.toc.enable && (
          <div
            id="toc-wrapper"
            class:list={["hidden lg:block transition absolute top-0 -right-(--toc-width) w-(--toc-width) items-center"]}
          >
            <div
              id="toc-inner-wrapper"
              class="fixed top-14 w-(--toc-width) h-[calc(100vh-20rem)] overflow-y-scroll overflow-x-hidden hide-scrollbar"
            >
              <div id="toc" class="w-full h-full">
                <div class="h-8 w-full" />
                <TOC headings={headings} />
                <div class="h-8 w-full" />
              </div>
            </div>
          </div>
        )
      }

      <!-- #toc needs to exist for Swup to work normally -->
      {!siteConfig.toc.enable && <div id="toc" />}
    </div>
  </div>
</Layout>
